*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*===
	nav
	===*/

.nav {
	background-color: rgb(2, 47, 87);
	color: white;
}

.icons {
	display: flex;
}

.icon {
	display: flex;
	flex-direction: column;
}

.icon img {
	height: 150px;
}

.icon span {
	text-align: center;
}

/*===========
	image board
	===========*/

.imageBoard {
	display: flex;
	justify-content: center;
}

.img-main {
	width: 98vw;
}

.img-targeting {
	display: flex;
	position: absolute;
}

.img-box {
	width: 100px;
	height: 100px;
	border: thick solid white;
}

.img-targeting li {
	font-size: 20px;
	padding: 10px;
	text-align: center;
	border: thin solid black;
	background-color: rgba(255, 255, 255, 0.808);
	list-style-type: none;
	cursor: pointer;
}

.img-targeting li:hover {
	background-color: white;
}
